@charset "utf-8";
/* CSS Document */

header {
		background:#005883;
		color:#000;
		}
.main 	{
		background:#B3B3B3;
		}
.main1 	{
		background:#FFF;
		}
aside 	{
		background:#FFF;
		color:#000;
		}
footer	{
		background:#43C7F4;
		}
p {
	font-family: 'Angsana New';
	font-size: 18px;
	color: black;
	line-height: 18px;
	margin-bottom: 20px;
	}
h1 {
	text-aling: ceneter;
	font-size: 36px;
	color: black;
	font-family: 'Angsana New';
	}

